# List and Loops

In [1]:
names: list[str] = ["Ahsan", "Mohsin","Faisal","Haider","Fahad"]
print(names)

['Ahsan', 'Mohsin', 'Faisal', 'Haider', 'Fahad']

In [2]:
for name in names:
    print(name)

Ahsan
Mohsin
Faisal
Haider
Fahad

In [18]:
for name in names:
    intPeople: list[str] = {"These are intelligent people" : {name}}
    print(intPeople)

{'These are intelligent people': {'Ahsan'}}
{'These are intelligent people': {'Mohsin'}}
{'These are intelligent people': {'Faisal'}}
{'These are intelligent people': {'Haider'}}
{'These are intelligent people': {'Fahad'}}

In [22]:
for name in names:
    print(name)
else:
    print("finish counting")

Ahsan
Mohsin
Faisal
Haider
Fahad
finish counting

# List Comprehension

In [24]:
newNames: list[str]= [x for x in names if "F" in x] 
print(newNames)

['Faisal', 'Fahad']

In [32]:
janwar: list[str] = ["bakri","khargosh","Bandar","zardari"]

makhsos_janwar: list[str] = [x for x in janwar if "b" in x.lower()]
print(makhsos_janwar)

['bakri', 'Bandar']

In [45]:
for jan in janwar:
    print(f'Mashoor janwar {jan.title()}')
    print("Qoumi janwar \n")

Mashoor janwar Bakri
Qoumi janwar

Mashoor janwar Khargosh
Qoumi janwar

Mashoor janwar Bandar
Qoumi janwar

Mashoor janwar Zardari
Qoumi janwar

# Tuples in Python

In [36]:
my_tuple = (1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

# Tuple Example as Database

In [46]:
database: list[tuple[str,str]] = [("mohsin", "123"),("ahsan","321")]
for data in database:
    print(data)

('mohsin', '123')
('ahsan', '321')

## Destructure in tuple

In [53]:
database: list[tuple[str,str]] = [("mohsin", "123"),("ahsan","321")]
for data in database:
    username , password = data
    print(f"Your username is: {username} \nyour password is: {password} \n")

Your username is: mohsin
your password is: 123

Your username is: ahsan
your password is: 321

In [57]:
user_input: str = input("enter your input dear")
print(user_input)

whats happening

In [69]:
user_database: list[tuple[str,str]] = [("mohsin","123"), ("ahsan","321"), ("faisal","333")]

user_name:str = input("Please enter your name here: ")
user_password:str = input("Please enter password here: ")

for data in user_database:
    name, password = data
    if user_name == name and user_password == password:
        print(f"Permission granted! to {name}")
        break
    else:
        print(f"Invalid user {name}")
        break

Permission granted! to mohsin

In [70]:
magicians: list[str] = ["alice","tina", "bruce"]
for maigician in magicians:
    print(f"That was a great trick {maigician}")
print("Thank you all for coming to magic show!")

That was a great trick alice
That was a great trick tina
That was a great trick bruce
Thank you all for coming to magic show!

In [74]:
magicians: list[str] = ["alice","tina", "bruce"]
list(enumerate(magicians))

[(0, 'alice'), (1, 'tina'), (2, 'bruce')]

In [77]:
for index, name in list(enumerate(magicians)):
    print(index, name)

0 alice
1 tina
2 bruce

# Numbers with Loop
### range(start, end, steps)

In [81]:
range(5)

range(0, 5)

In [82]:
list(range(5))

[0, 1, 2, 3, 4]

In [83]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [85]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

# 2 ka Pahara

In [92]:
for a in range(1,11):
    print(f"2 x {a} = {2 * a}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

## Square values Append

In [102]:
squares: list[int] = []

for x in range(1,6):
    square = x ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25]

In [106]:
[i**2 for i in range(0,10,2)]

[0, 4, 16, 36, 64]

In [107]:
digits:list[int]= [1,2,3,4,5,6,7,8,9,10]
print(max(digits))
print(min(digits))
print(sum(digits))

10
1
55

In [110]:
my_food:list[str] = ["fish", "kebab", "samosa"]
friend_food:list[str] = my_food[:] #deep copy

print(my_food)
print(friend_food)

friend_food[0]= "tikka"
print(friend_food)
print(my_food)

['fish', 'kebab', 'samosa']
['fish', 'kebab', 'samosa']
['tikka', 'kebab', 'samosa']
['fish', 'kebab', 'samosa']

## Tuples

In [119]:
name: tuple[str] = ("mohsin","ahsan","faisal")
print(name[0])
print(name[0:3])

mohsin
('mohsin', 'ahsan', 'faisal')

In [120]:
name: tuple[str] = ("mohsin","ahsan","faisal")
print(name[0])
name[0] = ("pakistan")

mohsin

TypeError: 'tuple' object does not support item assignment

In [123]:
from typing import Any

kabar: tuple[Any] = ("Mohsin", [1,2,3], True,3)
print(kabar)

('Mohsin', [1, 2, 3], True, 3)

In [124]:
kabar[1].append(4)
print(kabar)

('Mohsin', [1, 2, 3, 4], True, 3)