# Class 3 Operators in Python

In [6]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

# Operators (+, -, *, / , **, // )

In [8]:
a: int = 2
b: int = 10

print(a + b) # 12
print(b - a) # 8
print(a * b) # 20
print(a ** 3) # 8 

print(b / 3) # 3.33
print(b // 3) # 3

12
8
20
3.3333333333333335
8
3

# for in Oprator in Python

In [13]:
names: list[str] = ["Mohsin", "Ahsan", "Haider","Faisal"]
for i in range(len(names)):
     print(i,names[i])

0 Mohsin
1 Ahsan
2 Haider
3 Faisal

# Zip in Python

In [1]:
data:any = ("a", 3, "Mohsin")
print(*data)

a 3 Mohsin

# Warlus Operator

In [2]:
a: int = 3

if(a < (b:=a+3)):
    print("a is smaller")
else:
    print("b is smaller")

a is smaller